version: 2
updates:
  - package-ecosystem: "pip"
    {% if config_file != "setuptools" %}directory: "/"{% else %}directory: "/requirements"{% endif %}
    schedule:
      interval: "weekly"
    labels:
      - "maintenance"
      - "dependencies"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    labels:
      - "maintenance"