# This is a CODEOWNERS file. See https://help.github.com/articles/about-codeowners/
# Ansys Pre-Commit Hooks maintainers will be requested for review when someone opens a
# pull request.
*       @ansys/pre-commit-hooks-maintainers
