[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"

[project]
# Check https://flit.readthedocs.io/en/latest/pyproject_toml.html for all available sections
name = "ansys-pre-commit-hooks"
version = "0.1.dev0"
description = "A python wrapper to create pre-commit hooks running reuse for header licenses"
readme = "README.rst"
requires-python = ">=3.8"
license = {file = "LICENSES/MIT.txt"}
authors = [
    {name = "ANSYS, Inc.", email = "pyansys.core@ansys.com"},
]
maintainers = [
    {name = "ANSYS, Inc.", email = "pyansys.core@ansys.com"},
]

classifiers = [
    "Development Status :: 4 - Beta",
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]
dependencies = [
    "importlib-metadata >=4.0",
    "reuse",
    "GitPython==3.1.32",
]

[project.optional-dependencies]
tests = [
    "pytest==7.3.0",
    "pytest-cov==4.0.0",
    "reuse",
]
doc = [
    "ansys-sphinx-theme==0.9.7",
    "numpydoc==1.5.0",
    "sphinx==5.3.0",
    "sphinx-copybutton==0.5.1",
]


[tool.flit.module]
name = "ansys.pre_commit_hooks"

[project.scripts]
add-license-headers = "ansys.pre_commit_hooks.add_license_headers:main"

[project.urls]
Source = "https://github.com/ansys/pre-commit-hooks"
Tracker = "https://github.com/ansys/pre-commit-hooks/issues"
Homepage = "https://github.com/ansys/pre-commit-hooks"


[tool.black]
line-length = 100

[tool.isort]
profile = "black"
force_sort_within_sections = true
line_length = 100
default_section = "THIRDPARTY"
src_paths = ["doc", "src", "tests"]

[tool.coverage.run]
source = ["ansys.pre_commit_hooks"]

[tool.coverage.report]
show_missing = true

[tool.pytest.ini_options]
minversion = "7.1"
addopts = "--cov=ansys.pre_commit_hooks --cov-report term -vv"
testpaths = [
    "tests",
]
